@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>About The Books</h1>
            </div>
            <div class="border rounded shadow p-3 mt-3">
                <p>Welcome to The Books, your online platform for managing and exploring a collection of books. Here, you can log in or sign up to add, edit, delete, and view books. The key information available for each book includes the author, book title, and year of publication.</p>

                <p>Our platform provides a user-friendly interface to make your book management experience seamless and enjoyable. Feel free to explore the features and make the most out of your reading journey.</p>
            </div>
        </div>
    </div>
</div>