@{
    ViewData["Title"] = "AddBook";
}

<div class="container">
    <div class="row justify-content-center mt-xxl-6">
        <div class="col-md-4 mt-5">
            <div class="border rounded shadow">
                <div class="text-center">
                    <h2 class="mb-3 mt-3">Add Book</h2>
                    <form id="addForm" class="p-3">
                        <input class="form-control form-control-sm mb-2" id="bookName" name="bookName" placeholder="Name of book" required>
                        <input class="form-control form-control-sm mb-2" id="author" name="author" placeholder="Book Author" required>
                        <input type="number" class="form-control form-control-sm mb-2" id="year" name="year" placeholder="Year of publication" required>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm fw-bold btn-success btn-block mb-1 col-12">Add</button>
                            <div class="d-flex justify-content-center align-items-center">
                                <hr class="my-3" style="width: 40%; background-color: #000000;" />
                                <div class="mx-2">or</div>
                                <hr class="my-3" style="width: 40%; background-color: #000000;" />
                            </div>
                            <button type="button"id="backBtn" class="btn btn-sm fw-bold btn-danger btn-block col-12">Go back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#addForm").on("submit", (event) => {
            event.preventDefault();

            if ($("#year").val() > new Date().getFullYear() || $("#year").val() <= 1455) {
                alert("Year is invalid");
                return;
            }

            const formData = {
                bname: $("#bookName").val(),
                author: $("#author").val(),
                year: $("#year").val()
            };

            if (confirm("Add this book?")) {
                $.ajax({
                    method: "POST",
                    url: "http://www.thebooksapi.com/addbook.php",
                    data: formData,
                    success: () => {
                        alert("Book added successfully");
                        window.location.href = "/Home/Books";
                    },
                    error: () => {
                        alert("Failed adding book");
                    }
                });
            }
        });

        $("#backBtn").on("click", () => window.location.href = "/Home/Books");
    </script>
}
