@{
    ViewData["Title"] = "FAQ";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <h1>Frequently Asked Questions</h1>
            </div>
            <div class="border rounded shadow p-3 mt-3">
                <div class="mb-3">
                    <h5 class="fw-bold">1. How can I sign up for The Books?</h5>
                    <p>Signing up for The Books is easy! Navigate to the Sign Up page, provide your username, email address, and password, and click the "Sign up" button.</p>
                </div>

                <div class="mb-3">
                    <h5 class="fw-bold">2. What information can I manage for each book?</h5>
                    <p>You can manage the author, book title, and year of publication for each book in your collection.</p>
                </div>

                <div class="mb-3">
                    <h5 class="fw-bold">3. Can I edit or delete a book entry?</h5>
                    <p>Yes, once you log in, you can edit or delete any book entry in your collection through the user dashboard.</p>
                </div>

                <div class="mb-3">
                    <h5 class="fw-bold">4. How do I contact The Books support?</h5>
                    <p>Visit the Contact page, fill out the form with your name, email, and message, and click the "Send Message" button. We'll get back to you as soon as possible!</p>
                </div>
            </div>
        </div>
    </div>
</div>
