@{
    ViewData["Title"] = "Home Page";
}

<div>
    something random here
</div>

<div>
    <div class="mx-auto">
        <div class="row">
            <div class="col">
                <div class="rounded border">asdasd</div>
                <div class="rounded border">asdasd</div>

            </div>
            <div class="col-8">
                <div id="cardContainer" class="row row-cols d-flex justify-content-start py-2 border"></div>
            </div>
            <div class="col">
                <div class="rounded border">asdasd</div>
                <div class="rounded border">asdasd</div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(() => {
            $.ajax({
                method: "GET",
                url: "http://www.thebooksapi.com/books.php",
                success: (res) => {
                    const data = JSON.parse(res);
                    const cardContainer = $('#cardContainer');

                    data.forEach((book) => {
                        let cardDiv = $('<div class="col col-auto d-flex justify-content-center">' +
                            '<div class="card mb-4" style="width: 14rem;">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + book.bname + '</h5>' +
                            '<h6 class="card-subtitle mb-2 text-muted">Published by: ' + book.author + '</h6>' +
                            '<p class="card-text">This book was published in the year of ' + book.year + '</p>' +
                            '</div></div></div>');

                        cardContainer.append(cardDiv);
                    });
                },
                error: () => {
                    console.log("error fetching data");
                }
            });
        });

    </script>
}