@{
    ViewData["Title"] = "SignUp";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <div class="text-center">
                <h1>The Books</h1>
            </div>
            <div class="border rounded shadow">
                <div class="text-center">
                    <h2 class="mb-3 mt-3">Sign up</h2>
                    <form id="signupForm" class="p-3">
                        <div class="mb-2">
                            <input class="form-control form-control-sm" id="username" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-2">
                            <input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Email Address" required>
                        </div>
                        <div class="mb-2">
                            <input type="password" class="form-control form-control-sm" id="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="mb-2">
                            <input type="password" class="form-control form-control-sm" id="confirmPassword" name="password" placeholder="Password" required>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-sm fw-bold bg-primary text-light btn-block mb-1 col-12">Sign up</button>
                            <div class="d-flex justify-content-center align-items-center">
                                <hr class="my-3" style="width: 40%; background-color: #000000;" />
                                <div class="mx-2">or</div>
                                <hr class="my-3" style="width: 40%; background-color: #000000;" />
                            </div>
                            <button type="button" class="btn btn-sm fw-bold btn-success btn-block col-12" id="gLogin">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#signupForm").submit(function (event) {
                event.preventDefault();

                if ($("#confirmPassword").val() !== $("#password").val()) {
                    alert("Passwords do not match.");
                    return;
                }

                var formData = {
                    email: $("#email").val(),
                    password: $("#password").val(),
                    username: $("#username").val()
                };

                if (confirm("Sign up with the data?")) {
                    $.ajax({
                        method: "POST",
                        url: "http://www.thebooksapi.com/register.php",
                        data: formData,
                        success: function (res) {
                            alert("Sign up successful");
                            window.location.href = "/";
                        },
                        error: function () {
                            alert("There was an error in signing you up.");
                        }
                    });
                }
            });

            $("#gLogin").on("click", () => window.location.href = "/Home/Login");
        });
    </script>
}
